.trust {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  width: 1400px;
  margin: 0 auto;
  background-color: #fafafa;
  gap: 30px;
  span {
    color: lightgray;
    font-weight: 600;
  }
  img {
    height: 70px;
    object-fit: contain;
  }
}
